# EthPillar Python runtime dependencies
# Installed automatically on startup and during upgrades
requests
tqdm
console-menu
python-dotenv
rich
# Lighthouse ePBS builder_definitions.yml
PyYAML
# systemd config compare (Meld-in-terminal)
tmeld
